
.footer_area {
  background-color: #f8f9fa;
  /* padding-top: 130px;
  padding-bottom: 130px; */
}

/* .single-footer-widget {
  margin-bottom: 30px;
} */


.copywrite-text {
  margin-bottom: 5px;
}

.footer_social_area a {
  color: #333;
  margin-right: 10px;
  font-size: 18px;
}

.footer_social_area a:hover {
  color: #007bff;
}

.widget-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 15px;
}

.footer_menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer_menu li {
  margin-bottom: 8px;
}

.footer_menu a {
  color: #555;
  text-decoration: none;
  font-size: 14px;
}

.footer_menu a:hover {
  color: #007bff;
}
