
.home-container {
    text-align: center;
    margin: 0 auto;
    /* max-width: 800px; */
  }
  
  header {
    margin-bottom: 20px;
  }
  
.features {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center; 
    margin-bottom: 40px;
  }
  
  .feature {
    flex: 1;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin: 0 10px 20px 10px;
  }
  
  
  .cta {
    text-align: center;
    margin-bottom: 40px;
  }
  
  footer {
    text-align: center;
    padding: 20px;
    background-color: #f0f0f0;
    border-top: 1px solid #ccc;
  }
  