/* src/assets/css/ContactPage.css */
.contact-page {
    max-width: 800px;
    margin: 80px auto 20px;
    padding: 20px;
  }
  
  .contact-page h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .contact-page form {
    display: grid;
    grid-gap: 10px;
  }
  
  .contact-page label {
    font-weight: bold;
  }
  
  .contact-page input[type="text"],
  .contact-page input[type="email"],
  .contact-page textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 2px solid black;
    border-radius: 5px;
  }
  
  .contact-page textarea {
    height: 150px;
  }
  
  /* .contact-page button {
    --color: #560bad;
    font-family: inherit;
    display: inline-block;
    width: 8em;
    height: 2.6em;
    line-height: 2.5em;
    margin: 20px;
    position: relative;
    overflow: hidden;
    border: 2px solid var(--color);
    transition: color .5s;
    z-index: 1;
    font-size: 17px;
    border-radius: 6px;
    font-weight: 500;
    color: var(--color);
  }
  
  .contact-page button:before {
    content: "";
    position: absolute;
    z-index: -1;
    background: var(--color);
    height: 150px;
    width: 200px;
    border-radius: 50%;
  }
  
  .contact-page button:hover {
    color: #fff;
  }
  
  .contact-page button:before {
    top: 100%;
    left: 100%;
    transition: all .7s;
  }
  
  .contact-page button:hover:before {
    top: -30px;
    left: -30px;
  }
  
  .contact-page button:active:before {
    background: #3a0ca3;
    transition: background 0s;
  }
   */